@use "../../partials/palette";

.Header {
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: palette.$light-grey;
        display: flex;
        align-items: center;
    }

    &__img {
        height: 100px;
        width: 100px;
        margin-left: 30px;
    }

    &__title {
        font-family: Dosis-light;
        letter-spacing: 5px;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        color: palette.$dark-grey;
        margin-left: 30px;
    }
}
